body,html{background:#000}
*{font-size:99%;margin:0;text-decoration:none}
#css{position:fixed;width:100%;height:100%;background:#000;overflow:hidden}
#vipjx{position:fixed;width:100%;height:100%;background:#000;overflow:hidden}
#vipjx .jz{position:fixed;width:100%;top:30%;background:#000;text-align:center}
#vipjx .jz .ts{color:#ff0}
#vipjx .jz .ts .djs{color:#f00}
#vipjx .jz .ts .ci{color:#f00}
#vipjx .cw {position:fixed;width:100%;top:30%;background:#000;text-align:center}
#vipjx .cw .ts {color:#ff0}
#vipjx .cw .cz {line-height:60px}
#vipjx .cw .cz .sx{padding:6px 9px;color:#ff0;background:#f00;border-radius:20px}
#vipjx .cw .cz .sx:hover{padding:6px 9px;color:#f00;background:#ff0;border-radius:20px}